@model iWriter.ViewModels.ProjectTypeViewModels.EditProjectTypeViewModel

@{
    ViewData["Title"] = "EditProjectType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Project Type</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditProjectType">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProjectTypeId" class="control-label"></label>
                <input asp-for="ProjectTypeId" readonly="readonly" class="form-control"/>
                <span asp-validation-for="ProjectTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectTypeName" class="control-label"></label>
                <input asp-for="ProjectTypeName" class="form-control" />
                <span asp-validation-for="ProjectTypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rate" class="control-label"></label>
                <input asp-for="Rate" class="form-control" />
                <span asp-validation-for="Rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StarQuality" class="control-label"></label>
                <input asp-for="StarQuality" class="form-control" />
                <span asp-validation-for="StarQuality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DaysToDeliver" class="control-label"></label>
                <input asp-for="DaysToDeliver" class="form-control" />
                <span asp-validation-for="DaysToDeliver" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedFeatures" class="control-label"></label>
                <select asp-for="SelectedFeatures" asp-items="Model.Features" data-bind="Model.Features">
                
                </select>
                <span asp-validation-for="DaysToDeliver" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

