@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@inject UserManager<iWriterUser> userManager
<!-- Nav tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="dashboard-tab" data-toggle="tab" data-target="#dashboard" asp-action="Dashboard" asp-controller="WritingCenter" role="tab" aria-controls="dashboard" aria-selected="true">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="projectManagement-tab" data-toggle="tab" data-target="#projectManagement" asp-action="projectManagement" asp-controller="WritingCenter" role="tab" aria-controls="projectManagement" aria-selected="false">Project Management</a>
    </li>

</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">1</div>
    <div class="tab-pane" id="projectManagement" role="tabpanel" aria-labelledby="profile-tab">2</div>
</div>

@section Scripts {
    <scipt>
        
    </scipt>
}