<h3>Features</h3>
<div id="projectFeaturesIndex"></div>
<div id="projectFeaturesCreate"></div>


<script>
    $('#projectFeaturesIndex').load("/WritingCenter/GetAllProjectFeatures");
    $('#projectFeaturesCreate').load("/WritingCenter/CreateFeatures");
</script>