@inject IActionFeedback actionFeedback
@model IEnumerable<ProjectType>

@{
    if (actionFeedback.SuccessUnsuccess == false)
    {
        <div class="alert alert-danger" role="alert">
            Unsuccessful Operation
        </div>
    }
    else if (actionFeedback.SuccessUnsuccess == true)
    {
        <div class="alert alert-success" role="alert">
            Successful Operation
        </div>
    }

    // reset the action feedback to null
    actionFeedback.SuccessUnsuccess = null;
}
<br>
<div id="projectTypesPreview"></div>
<br>
<h3>Features</h3>
<div id="projectFeaturesIndex"></div>
<div id="projectFeaturesCreate"></div>
<div id="projectTypeIndex"></div>
<div id="projectTypeCreate"></div>


<script>
    $('#projectTypesPreview').load("/WritingCenter/ProjectTypesPreview", function( response, status, xhr ) {
    if ( status == "error" ) {
        var msg = "Sorry but there was an error loading project type previews: ";
        $( "#projectTypesPreview" ).html( msg + xhr.status + " " + xhr.statusText );
    }
    });
    $('#projectFeaturesIndex').load("/WritingCenter/GetAllProjectFeatures", function( response, status, xhr ) {
    if ( status == "error" ) {
        var msg = "Sorry but there was an error loading the list of features: ";
        $( "#projectTypesPreview" ).html( msg + xhr.status + " " + xhr.statusText );
    }
    });
    $('#projectFeaturesCreate').load("/WritingCenter/CreateFeatures", function( response, status, xhr ) {
    if ( status == "error" ) {
        var msg = "Sorry but there was an error loading the project feature creation form: ";
        $( "#projectTypesPreview" ).html( msg + xhr.status + " " + xhr.statusText );
    }
    });
    $('#projectTypeIndex').load("/WritingCenter/GetAllProjectTypes", function( response, status, xhr ) {
    if ( status == "error" ) {
        var msg = "Sorry but there was an error loading the list of project types: ";
        $( "#projectTypesPreview" ).html( msg + xhr.status + " " + xhr.statusText );
    }
    });
    $('#projectTypeCreate').load("/WritingCenter/CreateProjectType", function( response, status, xhr ) {
    if ( status == "error" ) {
        var msg = "Sorry but there was an error loading the project type creation form: ";
        $( "#projectTypesPreview" ).html( msg + xhr.status + " " + xhr.statusText );
    }
    });
</script>