@model IEnumerable<ProjectType>

<h4 style="text-align:center">Project Types Preview</h4>

@if (Model.Any())
{
    <div class="card-deck mb-3 text-center">

        @foreach (var projectType in Model)
        {
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">@projectType.ProjectTypeName</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$@projectType.Rate <small class="text-muted">/ 100 words</small></h1>
                    <ul class="list-group mt-3 mb-4">
                        <li class="list-group-item">@projectType.StarQuality Stars Quality</li>
                        @foreach (var item in projectType.ProjectTypeFeatures)
                        {
                            <li class="list-group-item">* @item.Feature.FeatureText</li>
                        }
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">Select</button>
                </div>
            </div>
        }
    </div>
}
else
{
    <p style="text-align:center">None at the moment. Please add new project types below.</p>
}